# Managed by ansible.
# file: {{ template_destpath }}

{% for __sysctl_key, __sysctl_value in __sysctl_file.settings | dictsort if __sysctl_key in __sysctl_available.available %}
{{ __sysctl_key }}={{ __sysctl_value }}
{% endfor %}
